.card {
  padding: 3rem;
  text-align: center;
  background-color: #fff;

  p {
    opacity: 0.8;
    font-size: 0.9rem;
    font-weight: 600;
  }

  h1 {
    margin: 1rem 0;
    font-size: 3.5rem;
  }

  li:first-child {
    border-top: 1px solid color(light-grayish-blue);
  }

  li {
    font-size: 0.8rem;
    font-weight: 700;
    opacity: 0.8;
    border-bottom: 1px solid color(light-grayish-blue);
    padding: 1rem 0;
  }

  button {
    font-size: 0.7rem;
    font-weight: 600;
    margin-top: 2rem;
    padding: 0.8rem 5rem;
    background: linear-gradient(
      55deg,
      color(linear-gradient1),
      color(linear-gradient2)
    );
    border: 0;
    border-radius: 10px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
}
