@import "../abstracts/mixins";

.choose-billing--wrap {
  @include flexCenter;
  margin: 3rem auto 0 auto;
  width: 100%;
  max-width: 33ch;
  flex-wrap: wrap;
  @include desktopSize {
    max-width: 15rem;
  }

  // 🔻this is the toggle component
  .toggle-switch {
    margin: 0 1rem;
  }
}

.billingLabel {
  font-size: 0.8rem;
  color: color(neutral-lighter-dark-desaturated-blue);
  letter-spacing: 0.02rem;
  opacity: 0.5;
}
