.toggle-switch {
  position: relative;

  > .switchInput {
    display: none;
  }

  > .switchLabel {
    cursor: pointer;
    display: flex;
    align-items: center;
    width: 3.5rem;
    height: 2rem;
    border-radius: 999px;
    background: color(light-gradient2);
    transition: background 0.2s ease-in-out;
    padding: 0 0.3rem;

    &:hover {
      background: color(light-grayish-blue2);
    }

    &:focus {
      background: color(light-grayish-blue2);
    }

    .circle {
      height: 1.5rem;
      width: 1.5rem;
      border-radius: 999px;
      background: white;
      box-shadow: 0 0 1px rgba(0, 0, 0, 0.45);
    }
  }

  > .switchInput:checked + .switchLabel {
    justify-content: flex-end;
  }
}
